.ingredient {
  height: 20px;
  width: 100%;
}
.ingredient--breadTop {
  height: 50px;
  border-radius: 50px 50px 0 0;
  background-color: #ffd4b4;
}

.ingredient--breadBottom {
  background-color: #ffd4b4;
  border-radius: 0 0 20px 20px;
  height: 35px;
}

.ingredient--meat {
  background-color: #453223;
  border-radius: 5px;
  height: 15px;
}

.ingredient--cheese {
  background-color: #ffdd6c;
  border-radius: 2px;
  height: 4px;
}

.ingredient--bacon {
  background-color: #851a07;
  border-radius: 2px;
  height: 4px;
}

.ingredient--letuce {
  background-color: #1a9420;
  border-radius: 2px;
  height: 8px;
}
